.input_block {
    background-color: #ffffff;
    padding: 10px 10px;
}
.input_block_inner {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.input_block_input {
    border: none;
    outline: none;
    font-size: 20px;
    width: 1100px;
}
.sed_btn {
    background-color: #456799;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    color: #ffffff;
}